*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #00beac;
}

.container {
    height: 350px;
    width: 350px;
    background: #4ed4c6;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
    transition: 3s all;
}

.container div{
    height: 50%;
    width: 200px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    position: absolute;
    transform: translateX(-50%);
    transform-origin: bottom;
    left: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 1000;
    font-family: monospace;
    letter-spacing: 5px;
    color: #008276;
    writing-mode: vertical-rl;
}

.container .one{
    background: #baf4ee;
    left: 50%;
}
.container .two {
    background: #4ed4c6;
    transform: rotate(60deg);
}
.container .three{
    background: #baf4ee;
    transform: rotate(120deg);
}
.container .four {
    background: #4ed4c6;
    transform: rotate(180deg);
}
.container .five{
    background: #baf4ee;
    transform: rotate(240deg);
}
.container .six {
    background: #4ed4c6;
    transform: rotate(300deg);
}

.mid-item {
    height: 25px;
    width: 25px;
    background: #008276;
    border-radius: 50%;
    position: absolute;
}

#sspin {
    height: 60px;
    width: 200px;
    background: #4ed4c6;
    position: absolute;
    margin-top: 600px;
    border: 1px solid #fff;
    font-weight: 1000;
    color: #fff;
    letter-spacing: 4px;
    cursor: pointer;
    box-shadow: 0 5px 10px grey;
    transform: 0.2s all;
}
#spin:hover {
    box-shadow: none;
}